[Unit]

Description=Harbor balancer
Requires=cluster.target

[Service]

Restart=always
RestartSec=5

ExecStart=/usr/bin/consul-watcher apps/$role /usr/bin/balance-harbor

[Install]
WantedBy=cluster.target