[Unit]

Description=Harbor balancer
Requires=cluster.target

[Service]

Restart=always
ExecStart=/usr/bin/swrth consul watch containers/external "swrth harbor balance"

[Install]
WantedBy=cluster.target