[Unit]

Description=Docker container registrar
Requires=cluster.target

[Service]

Restart=always
ExecStart=/usr/bin/docksul tcp://localhost:2375 http://127.0.0.1:8500

[Install]

WantedBy=cluster.target
