[Unit]

Description=Nsq discovery daemon
Requires=cluster.target
After=consul.service
Before=nsqd.service

[Service]

Restart=always
RestartSec=5
TimeoutStopSec=15
ExecStart=/usr/bin/nsqlookupd --broadcast-address=$(hostname).node.consul 

[Install]

WantedBy=cluster.target
