[Unit]

Description=Nsq daemon
Requires=cluster.target
After=consul.service

[Service]

Restart=always
TimeoutStopSec=15
RestartSec=5
ExecStart=/bin/bash -c "/usr/bin/nsqd --broadcast-address=$(hostname).node.consul $(lookupd-params)"

[Install]

WantedBy=cluster.target