[Unit]
Description=Gear Provisioning Daemon (geard)

[Service]
Restart=always
ExecStart=/usr/bin/gear daemon --has-env-file -A 127.0.0.1:43273

[Install]
WantedBy=multi-user.target