[Unit]
Description=Gear Provisioning Daemon (geard)
Documentation=https://github.com/openshift/geard

[Service]
ExecStart=/usr/local/bin/gear daemon

[Install]
WantedBy=multi-user.target
