[Unit]
Description=DNS forwarder
After=network.target
Before=docker.service

[Service]

Environment="BKP=/etc/resolv.conf.orig" "TGT=/etc/resolv.conf"

ExecStartPre=/bin/bash -c "test -e $BKP || cp $TGT $BKP"

ExecStart=/usr/sbin/dnsmasq -k -C /var/cluster/active/components/base/misc/dnsmasq.conf

ExecStartPost=/bin/bash -c "echo nameserver $(swrth docker ip) > $TGT"

ExecStopPost=/bin/bash -c "cat $BKP > $TGT"

[Install]
WantedBy=multi-user.target
RequiredBy=docker.service
