[Unit]

Description=Harbor
Requires=vlipco.target

[Service]

Restart=always
RestartSec=5
ExecStartPre=/usr/local/bin/docker-rm "%p"
ExecStop=/usr/local/bin/docker-stop "%p"

TimeoutStopSec=5

ExecStart=/usr/local/bin/docker run \
	--name harbor \
	vlipco/harbor /usr/bin/sleep infinity

[Install]

WantedBy=vlipco.target
