[Unit]

Description=Nsq daemon
Requires=vlipco.target
Wants=lookupd.service

[Service]

Restart=always
TimeoutStopSec=15
ExecStart=/bin/bash -c "/usr/local/bin/nsqadmin $(lookupd-params http)"

[Install]

WantedBy=vlipco.target
