[Unit]

Description=Consul Server
Requires=cluster.target

[Service]

Restart=always
TimeoutStopSec=15
RestartSec=5

ExecReload=/bin/kill -HUP $MAINPID

ExecStart=/usr/bin/consul agent -config-dir /var/lib/seaworthy/consul

ExecStartPost=/bin/bash -c "echo 'nameserver 127.0.0.1' > /etc/resolv.conf"

ExecStopPost=/bin/bash -c "cat /etc/resolv.conf.orig > /etc/resolv.conf"

[Install]
WantedBy=cluster.target