[Unit]

Description=Consul Server
Requires=vlipco.target

[Service]

TimeoutStopSec=15

ExecStart=/usr/local/bin/consul agent -config-dir /usr/local/etc/consul/

[Install]
WantedBy=vlipco.target
