[Unit]

Description=Nsq daemon
Requires=vlipco.target
After=consul.service

[Service]

TimeoutStopSec=15
ExecStart=/bin/bash -c "/usr/local/bin/nsqd --broadcast-address=$(hostname).node.consul $(lookupd-addresses)"

[Install]

WantedBy=vlipco.target
