[Unit]

Description=Docker registry
Requires=cluster.target

[Service]

Restart=always
TimeoutStopSec=15
RestartSec=5

ExecStartPre=/usr/bin/mkdir -p /var/cluster/registry
ExecStart=/usr/local/bin/docker run -e SETTINGS_FLAVOR=local -p 5000:5000 \
        -e STORAGE_PATH=/registry -v /var/cluster/registry:/registry registry

[Install]
WantedBy=cluster.target