[Unit]

Description=Docker registry
Requires=cluster.target

[Service]

Restart=always
TimeoutStopSec=15
RestartSec=5

ExecStartPre=/usr/bin/mkdir -p /var/cluster/registry
ExecStart=/usr/bin/go-docker-registry --config /var/cluster/active/components/waypoint/misc/registry-config.json

[Install]
WantedBy=cluster.target