[Unit]

Description=Ferry load balancer
Requires=cluster.target

[Service]

Restart=always
RestartSec=5
ExecStartPre=-/usr/bin/docker rm -f ferry
ExecStart=/usr/bin/bash -l -c 'exec docker run --net host -t --name ferry -e  "DOMAINS=$(swrth config ferry.domains)" vlipco/srv-router'

[Install]
WantedBy=cluster.target
