[Unit]

Description=Ferry load balancer
Requires=cluster.target

[Service]

Restart=always
RestartSec=5
ExecStartPre=-/usr/bin/docker rm -f ferry
ExecStart=/usr/bin/docker run --net host -t --name ferry vlipco/srv-router

[Install]
WantedBy=cluster.target