{
    "data_dir": "/cluster/data",
    "server": true,
    "log_level": "warn",
    "recursor": "{{consul_recursor}}",
    "leave_on_terminate": true,
    "ui_dir": "/cluster/pkg/consul/ui",
    "ports": {
        "dns": 53
    }
}