{
    "data_dir": "/var/local/consul",
    "server": true,
    "log_level": "warn",
    "recursor": "{{consul_recursor}}",
    "leave_on_terminate": true,

{% if consul_ui %}
    "ui_dir": "/cluster/vendor/consul/ui",
{% endif %}

{% if consul_start_join is defined %}
    "start_join": ["{{consul_start_join}}"],
{% endif %}
    
    "node_name": "{{inventory_hostname}}",
	"bootstrap": {{consul_bootstrap|default('false')}},
	"bind_addr": "{{routable_addr}}",
    "ports": {
        "dns": 53
    }
}