[Unit]

Description=Waypoint
Requires=cluster.target

[Service]

Restart=always

ExecStart=/usr/bin/fileserver -port 80 -root /var/local/git/slugs

[Install]

WantedBy=cluster.target
