[Unit]

Description=Nsq event router
Requires=cluster.target
After=consul.service

[Service]

# we only point to a single lookupd because all nsqd instances checks ensure all cluster lookupds know about them
# we rely on this to skip extra monitoring this unit to ensure it knows where to find event producers

Restart=always
RestartSec=5
ExecStart=/usr/bin/nsq_event_router --topic events --handlers-dir /cluster/etc/events --lookupd-http-address lookupd.service.consul:4161

[Install]

WantedBy=cluster.target
