{
    "service": {
        "name": "waypoint",
        "id": "{{inventory_hostname}}-waypoint",
        "check": {
            "notes": "Every 30s checks that waypoint's slug server is running",
            "script": "{{checks_dir}}/waypoint",
            "interval": "10s"
        }
    }
}